@font-face {
    font-family: Kashmir;
    src: url(../fonts/kashmir.ttf);
    font-weight:400;
}
body {
	background-color: #28425c;
}
.header {
	font-family: 'garamond', times, serif;
	color: purple;
	font-size: 36px;
}


.timer {
	font-family: 'Titillium Web', sans-serif;
	color: #7b8a97;
	font-size: 36px;
	font-weight: bold;
	font-style: italic;
	width: 800px;
	padding: 10px 0;
	text-align: center;
	background-color: #0e2841;
}

.question {
	padding: 20px 80px 20px 80px;
	font-size: 24px;
	line-height: 36px;
	width: 800px;
	font-family: 'Titillium Web', sans-serif;
	background-color: #7b8a97;
	color: #fff;
}

.answers {
	font-size: 12px;
	text-align: center;
	color: white;	
}

.submit {
	padding: 30px 0 30px 100px;
	
}	


h2 {
	color: red;
	font-size: 36px;
}

input[type="radio"] {
	display: none;
}

input[type="radio"] + label:before {
	border: 2px solid white;
	border-radius: 50%;
	content: "";
	display: inline-block;
	font-size: 12px;
	height: 12px;
	width: 12px;
	line-height: 16px;
	text-align: center;
	vertical-align: middle;
	margin: 6px 9px 10px 0;
}

input[type="radio"]:checked + label:before {
	content: "&bull;";
	font-size: 6px;
	color: #fff;
}

.btn {
	margin: 20px auto;
	display: block;
}



p.wrong {
	color: red;
	background-color: lightgrey;
	padding: 5px;
	text-align: center;
}

p.correct {
	color: green;
	background-color: lightgrey;
	padding: 5px;
	text-align: center;
}

.factoid {
	color:  chartreuse;
}
h3 {
	font-family: "kashmir", times, sans-serif;
	color: #7b8a97;
	font-size: 68px;
	text-decoration: none;

}

.footer {
	text-align: center;
	color: #fff;
	padding: 10px 0;
}
